<div class="about-container">
    <h6 class="title mb-4">About Me</h6>
    <p>Bon jour!  My name is Eric and my life's passion is to create awesome stuff!  I have created a lot, from high-end clothing to music for HBO, but after all that creating I have found my favorite medium... <span class="fadeIn">JAVASCRIPT!</span></p>
    <p>I have always been a DIY human, so learning <span class="fadeIn">new technologies</span> overnight is no sweat.  I love learning new languages and discovering new libraries to help get the job done.</p>
    <p>I've pioneered the front end development of applications for a plethora of <span class="fadeIn">Fortune 500</span> companies and agencies.  My main focus these days is building eye-catching, accessible, inclusive products and digital experiences for some of the top Digital Experience Agencies around.</p>
</div>
