@import "../assets/my_variables.scss";

.conatiner {
    height: 100vh;
    max-height: -webkit-fill-available;
    width: 100vw;
    padding: 2rem;

    &.mobile {
        height: 97vh;
    }

    .contents {
        height: 100%;
        min-height: 100%;
        width: 100%;
        min-width: 100%;
        padding: 1rem;
        border: 1px solid $border-color;
        position: relative;

        .info {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: inherit;
        }
    }


}
@media only screen and (min-width: 600px) {
    .conatiner {
        padding: 3rem;

        .contents {
            .info {
                // max-width: 50%;
            }
        }
    }

}