<div class="stack-container">
  <h6 class="title mb-4">My Technology Stack</h6>
  <p>my favorites</p>
  <ul>
    <li>Javascript (ES6+)</li>
    <li>Typescript</li>
    <li>Angular</li>
    <li>RxJS</li>
    <li>html5</li>
    <li>CSS3 + animations</li>
    <li>Bootstrap</li>
    <li>Azure DevOps</li>
    <li>Git</li>
    <li>npm</li>
    <li>React</li>
    <li>RestAPI</li>
  </ul>
  <p>other tech i use to build stuff</p>
  <ul>
    <li>React Styled Components</li>
    <li>HTMLCanvas</li>
    <li>jsPDF</li>
    <li>email HTML</li>
    <li>GSAP animations</li>
    <li>JSON</li>
    <li>Express</li>
    <li>MongoDB</li>
    <li>Postman</li>
  </ul>





</div>

<!-- <div class="icons">
  <img src="assets/icons/js.svg" alt="" width="20" height="20">
</div> -->