@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald&family=Roboto&display=swap');

$body-bg: #000;
$body-color: #fff;
$border-color: #fff;

$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Noto Serif', serif;
$third-font: 'Roboto', sans-serif;
